@use "variables" as *;

body {
  background-color: blue; //仮
  color: $black;
  font-family: $font-family-ja;
  font-size: 16px;
  font-weight: 400;

  main {
    max-width: 500px;
    background-color: $dark-gray;

    // ------------------------------------------
    //       GR YARIS EXPERIENCE
    // ------------------------------------------
    .yaris-event {
      display: flex;
      padding-bottom: 60px;

      .yaris-event-left {
        width: 50%;
        padding-inline: 20px;
        background-color: $gray;

        h3 {
          text-align: center;
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;
        }

        a {
          color: $black;
          display: inline-block;
          background-color: $red;
          border-radius: 10px;
          box-shadow: 5px 5px 5px $black;
          font-size: 12px;
          padding: 5px 8px;
          margin-right: 10px;
        }
      }

      .yaris-event-right {
        width: 50%;

        img {
          height: 200px;
          object-fit: cover;
        }
      }
    }

    .experience {
      background-color: $black;

      .inner {
        padding-bottom: 450px;
      }

      .experience-item-left {
        position: relative;

        .experience-item-left-text {
          width: 60%;
          color: $black;
          background-color: $white;
          border-radius: 10px;
          position: absolute;
          bottom: -90px;
          right: 5px;
          padding: 16px 24px;

          span {
            color: $orange;
          }
        }

        .experience-item-left-img {
          border-radius: 10px;
          width: 70%;
        }
      }

      .experience-item-right {
        position: relative;

        .experience-item-left-text {
          position: absolute;
          top: 250px;
          left: 5px;
          border-radius: 10px;
          color: $black;
          background-color: $white;
          padding: 16px 24px;
          z-index: 10;

          span {
            color: $orange;
          }
        }

        .experience-item-left-img {
          border-radius: 10px;
          position: absolute;
          top: 120px;
          left: 30%;
        }
      }
    }

    .talk-show {
      background-color: $black;
      position: relative;
      margin-top: 50px;
      padding-bottom: 80px;

      .time {
        position: absolute;
        right: 30px;
        top: 160px;
        font-size: 20px;
        font-weight: bold;
        color: $orange
      }

      .talk-show-text {
        width: 400px;
        position: absolute;
        bottom: 60px;
        right: 30px;
        background-color: $white;
        border-radius: 10px;
        padding: 16px 24px;

        span {
          color: $orange;
        }
      }
    }

    // ------------------------------------------
    //       KIDS EVENT
    // ------------------------------------------
    #kids-event {
      padding-top: 100px;

      .inner {
        position: relative;
      }

      .section-title {
        font-size: 48px;
        margin-bottom: 40px;
      }

      .triangle--up,
      .triangle--down {
        width: 220px;
        height: 248px;
        position: absolute;
        overflow: hidden;
      }

      .triangle--up img,
      .triangle--down img {
        display: block;
      }

      // ▲上三角
      .triangle--up {
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          object-position: center;
        }
      }

      // ▼下三角
      .triangle--down {
        clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
        background: $black;

        .label {
          position: absolute;
          left: 50%;
          bottom: 40px;
          transform: translateX(-50%);
          color: $white;
          font-size: 18px;
        }

        img {
          position: absolute;
          top: 140px;
          left: 50%;
          transform: translateX(-50%);
          width: 60px;
        }
      }
    }

    // ------------------------------------------
    //       FOOD
    // ------------------------------------------

    .food {
      background: $gray;

      .food__swiper {
        .swiper {
          padding: 0 20px;

          .swiper-slide {
            height: auto;
            display: flex;
          }

          .swiper-wrapper {
            .food__swiper-card {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              min-height: clamp(300px, 50vw, 420px);
              background: $white;
              border-radius: 10px;
              padding: 20px;
              text-align: center;
              border: 3px solid $orange;
              transform: scale(0.75);
              transition: transform 0.4s ease, opacity 0.4s ease;
              opacity: 0.6;

              & img {
                width: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
              }

              &-title {
                margin-top: 15px;
                font-size: clamp(16px, 2vw, 24px);
                font-weight: 600;
              }

              &-text {
                margin-top: 10px;
                flex-grow: 1;
                letter-spacing: -1.6px;
                font-size: clamp(12px, 1.5vw, 16px);
                min-height: 48px;
              }
            }
          }

          .swiper-slide-active.food__swiper-card {
            transform: scale(0.95);
            opacity: 1;
            box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.25);
          }
        }
      }
    }

    // ------------------------------------------
    //        AFTER  PARTY
    // ------------------------------------------

    .after-party {
      position: relative;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }

      &__video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }

      .inner {
        position: relative;
        z-index: 2;

        .after-party__items {
          width: 90%;
          margin: 0 auto;
          padding: 100px 0;
          display: flex;
          flex-direction: column;
          gap: 150px;

          .after-party__item {
            position: relative;
            padding: 10px;
            border-radius: 10px;
            color: $white;
            font-size: 36px;
            font-weight: 700;

            .after-party__item-title {
              position: absolute;
              top: -30px;
              left: 50%;
              transform: translateX(-50%);
              background: rgba($black, 0.9);
              padding: 5px 10px;
              white-space: nowrap;
            }

            .after-party__item-text {
              position: absolute;
              bottom: -45px;
              right: 0;
              rotate: 5deg;
              font-size: 24px;

              &--l {
                left: 0;
                rotate: -5deg;
              }
            }

            .after-party__text {
              padding-top: 30px;
              font-size: 24px;
            }

            .after-party__time {
              padding: 20px;
              background: rgba($black, 0.9);
              text-align: center;
              width: fit-content;
              margin: 20px auto 0;
            }

            .after-party__text--last {
              font-size: 24px;
              line-height: 40px;
              letter-spacing: 4.8px;
            }
          }

          .after-party__item--orange {
            background: rgba($orange, 0.8);
          }
        }
      }
    }

    // ------------------------------------------
    //        ACCESS
    // ------------------------------------------

    .access {
      background: $gray;

      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        & iframe {
          width: 50%;
        }

        .access__info {
          padding-left: 20px;

          .access__info-text {
            padding-bottom: 20px;
          }

          .access__info-text:last-child {
            padding-bottom: 0;
          }
        }
      }
    }

    .access__method-text:first-child {
      padding-bottom: 20px;
    }

    // ------------------------------------------
    //        SPONSOR
    // ------------------------------------------

    .sponsor {
      background: $white;

      &__wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;

        .sponsor__logo {
          width: 100%;
          height: 80px;
          background: $gray;
        }
      }
    }

    // ------------------------------------------
    //        FOOTER
    // ------------------------------------------

    .footer {
      font-family: $font-family-en;
      text-align: center;
      padding-top: 50px;

      .footer__link {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;

        & li {
          font-size: 20px;
        }
      }

      .copyright {
        font-size: 14px;
        margin-bottom: 50px;
      }

      &__img {
        width: 100%;
        height: auto;
      }
    }
  }
}