//////  font-family  //////
$font-family-ja: "Noto Sans JP", sans-serif; // 日本語フォント
$font-family-en: "Oswald", sans-serif; // 英語フォント

//////  color  //////
$black: #0b0b0d; // メインカラー,文字色,黒背景
$white: #f5f5f5; // 白背景,白文字 (SPONSOR)
$dark-gray: #808083; // ダークグレー背景（GR YARIS EVENT,footer）
$gray: #d9d9d9; // グレー背景(KIDS EVENT,FOOD,ACCESS)
$orange: #f28343; //サブカラー
$red: #ff3733; //サブカラー
